.boton-i{
    float: right;
    position: relative;
    border-radius: 100%;
    border-style: none;
    margin: 0px;
    height: 1rem;
    bottom: 1rem;
}
.bi-github, .bi-linkedin{
    vertical-align: -0.5em;
}
ul{
    list-style: none;
}