<div class="container">
     <!--Experiencia y Educacion-->
     <div class="card" >
        <div class="card-body">
            <div>
                <button class="boton-i btn"><i class="bi-plus-circle-fill"></i></button>
            </div>
            <h5 class="card-title">Experiencia</h5>
            <ul>
                <li>

                </li>
            </ul>
            <div>
                <button class="boton-i btn"><i class="bi-plus-circle-fill"></i></button>
            </div>
            <h5 class="card-title">Educacion</h5>
            <div>
            <ul>
                <li>
                    <div>
                        <button class="boton-i btn"><i class="bi-pencil-fill"></i></button>
                    </div>
                    <div>
                        <button class="boton-i btn"><i class="bi-trash-fill"></i></button>
                    </div>
                    <h6>IPS UNR</h6>
                    <p>Analista Universitario en Sistemas</p>
                </li>
                <li>
                    <div>
                        <button class="boton-i btn"><i class="bi-pencil-fill"></i></button>
                    </div>
                    <div>
                        <button class="boton-i btn"><i class="bi-trash-fill"></i></button>
                    </div>
                    <h6>Facultad de ciencias economicas UNR</h6>
                    <p>Licenciatura en Economía</p>
                </li>
            </ul>
            </div>                     
        </div>
    </div>
</div>
