<div class="container">
    <!--Perfil-->
    <div>
        <div class="card">
            <div>
                <img src="../../../assets/images/codigo-programacion.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
            <div id="box-image-profile">
                <img id="image-profile" src="../../../assets/images/IMG_20220816_081428.jpg" alt="">
            </div>
            <h5 class="card-title">Mercado Daniel</h5>
            <p class="card-text">Full Stack Developer Jr</p>
            <p class="card-text">Rosario, Santafe, Argentina</p>
            <div>
                <button class="btn btn-success">Tengo Interes</button>
                <button class="btn" >Añadir Seccion</button>
                <button class="btn" >Más</button>
            </div>
            </div>
        </div>
    </div>
</div>
