.card{
    border-radius: 32px;
}

.boton-i{
    float: right;
    position: relative;
    border-radius: 100%;
    border-style: none;
    margin: 0px;
    height: 1rem;
    bottom: 1rem;
}

.title-bar{
    display: flex;
    align-items: center;
    justify-content: center;

}

ul{
    list-style: none;
}

.bi-plus-circle-fill{
    vertical-align: -1em;
}

.bi-pencil-fill, .bi-trash-fill{
    vertical-align: -0.35em;
}